#
# Copyright (C) 2004, 2007-2010, 2011-2012 Synopsys, Inc. (www.synopsys.com)
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License version 2 as
# published by the Free Software Foundation.
#

# The FPGA platform is pretty simple, No real SoC, nothing SoC specific and a
# bunch of boards.


# ARC FPGA platform corresponds to a "generic" SOC.
config ARC_SOC_GENERIC
	def_bool y

# All ARC FPGA boards
choice
	prompt "FPGA Board"

config ARC_BOARD_ANGEL4
	bool "ARC Angel4"
	depends on ARC_SOC_GENERIC
	help
	  ARC Angel4 FPGA Ref Platform (Xilinx Virtex Based)

config ARC_BOARD_ML509
	bool "ML509"
	depends on ARC_SOC_GENERIC
	help
	  ARC ML509 FPGA Ref Platform (Xilinx Virtex-5 Based)

config ARC_ISS_VIRT_PERIP
	bool "ISS Virtual Peripherals"
	depends on ARC_SOC_GENERIC
	help
	  ARC Linux can run on ARC Instruction set Simulator.
	  The binary built for AA4/ML509 can run on ISS, despite lack of
	  peripherals since drivers check if they are on ISS vs. real H/w.
	  This config option is only used if you want to build ISS specific
	  virtual periperal drivers such as virt-framebuffer or virt-mac.

endchoice

# TBD: The drivers would eventually move into drivers/xxx folders
# Right now, this will make the "ARC Platform Menu cobbled up"
source "arch/arc/drivers/Kconfig"
