#
# Copyright (C) 2004, 2007-2010, 2011-2012 Synopsys, Inc. (www.synopsys.com)
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License version 2 as
# published by the Free Software Foundation.
#

# The FPGA platform is pretty simple, No real SoC, nothing SoC specific and a
# bunch of boards.


# ARC FPGA platform corresponds to a "generic" SOC.
config ARC_SOC_GENERIC
	def_bool y

# All ARC FPGA boards
choice
	prompt "FPGA Board"

config ARC_BOARD_ANGEL4
	bool "ARC Angel4"
	depends on ARC_SOC_GENERIC
	help
	  ARC Angel4 FPGA Ref Platform (Xilinx Virtex Based)

config ARC_BOARD_ML509
	bool "ML509"
	depends on ARC_SOC_GENERIC
	help
	  ARC ML509 FPGA Ref Platform (Xilinx Virtex-5 Based)

config ARC_ISS_VIRT_PERIP
	bool "ISS Virtual Peripherals"
	depends on ARC_SOC_GENERIC
	help
	  ARC Linux can run on ARC Instruction set Simulator.
	  The binary built for AA4/ML509 can run on ISS, despite lack of
	  peripherals since drivers check if they are on ISS vs. real H/w.
	  This config option is only used if you want to build ISS specific
	  virtual periperal drivers such as virt-framebuffer or virt-mac.

endchoice

# TBD: The drivers would eventually move into drivers/xxx folders
# Right now, this will make the "ARC Platform Menu cobbled up"
source "arch/arc/drivers/Kconfig"

# Platform specific IRQ wiring - tied to devices - feeds into non-plat-arc code
config ARC_TIMER_LV2
	bool "High Priority Timer0 IRQ"
	select ARC_IRQ3_LV2

# Timer HAS to be high priority, for any other high priority config
config ARC_SERIAL_LV2
	bool "High Priority Serial IRQ"
	depends on ARC_SERIAL && ARC_TIMER_LV2
	select ARC_IRQ5_LV2

config ARC_EMAC_LV2
	bool "High Priority EMAC IRQ"
	depends on ARCTANGENT_EMAC && ARC_TIMER_LV2
	select ARC_IRQ5_LV2

config ARC_AHB_PCI_BRIDGE
    bool "AHB to PCI Bridge"
    default n
    select PCI
    depends on ARC_BOARD_ANGEL4
    help
    To Enable a PCI device to work on AA4 Ref Board

menu "Bus options (PCI etc.)"

config PCI
       bool "PCI support"
       default n
       help
         If you have PCI, say Y, otherwise N.

source "drivers/pci/Kconfig"
source "drivers/pci/hotplug/Kconfig"
source "drivers/pcmcia/Kconfig"

endmenu     # Bus options
