#
# Sensor device configuration
#

config AM_NAND
	bool "Amlogic NAND FLASH SUPPORT"
	default y
	select BLOCK
        select MTD_NAND 
	select MTD_PARTITIONS
        select MTD_BLOCK
        select MTD_CHAR
        help
		This is AML8626X NAND support

