#
# Copyright (C) 2012 Synopsys, Inc. (www.synopsys.com)
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License version 2 as
# published by the Free Software Foundation.
#

if ARC_PLAT_HAPS51

choice
	prompt "HAPS51 Board Flavours"

config ARC_BOARD_HAPS51
	bool "Basic HAPS51 Board"
	help
	  Synopsys HAPS51 Basic Subsystem FPGA board (Xilinx Virtex-5 Based).

config ARC_MODEL_NSIM_OSCI
	bool "NSIM OSCI System C model"
	help
	  NSIM based System C model. This model is compatible with some of the
	  peripherals that are also used for the HAPS51 FPGA board.

	  OSCI stands for Open SystemC Initiative.

endchoice

if ARC_BOARD_HAPS51

config DW_GPIO
	bool "Designware IP GPIO"
	select DW_INTC
	select GENERIC_GPIO
	select ARCH_REQUIRE_GPIOLIB
	select LEDS_CLASS
	default n
	help
	  Synopsys DesignWare APB GPIO device driver
	  This device gives acces to the buttons and leds
	  of the multi-IO interface extension board.
	  It is dependent on GPIOLIB and LEDS_CLASS

config DW_INTC
	bool "Off-chip Synopsys DW Interrupt Controller"
	default n
	help
	  This is the off-chip (2nd level) Interrupt Controller which can
	  be used to cascade external interrupts. It provides lot of
	  fancy features such as IRQ priority, Masking, Disabling....

endif

config DW_PGU2
	tristate "Use Synopsys DW Pixel Graphics Unit"
	select FB
	select FB_CFB_FILLRECT
	select FB_CFB_COPYAREA
	select FB_CFB_IMAGEBLIT
	help
		Select DW PGU2 which is an alternative for the regular ARC PGU
		This device includes generic software accelerated graphics
		Further more, it contains a double buffered framebuffer
		Be carefull, functionaly it is very much different from ARC PGU

config ARCPGU_YUVBUFS
	int 'Number of YUV Buffers'
	default 18
	depends on PGU_SIM || DW_PGU2

config DWPGU2_RGBBUFS
	int 'Number of RGB Buffers'
	default 2
	depends on DW_PGU2

config ARCPGU_DISPTYPE
	int 'Display selector (0 - VGA, 1 - QVGA)'
	default 0
	depends on PGU_SIM || DW_PGU2

source arch/arc/drivers/Kconfig

endif
