#
# Copyright (C) 2012 Synopsys, Inc. (www.synopsys.com)
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License version 2 as
# published by the Free Software Foundation.
#

if ARC_PLAT_HAPS51

choice
	prompt "HAPS51 Board Flavours"

config ARC_HAPS51_BOARD_BASIC
	bool "Basic HAPS51 Board"
	help
	  Synopsys HAPS51 Basic Subsystem FPGA board (Xilinx Virtex-5 Based).

endchoice

config DW_INTC
	bool "Off-chip Synopsys DW Interrupt Controller"
	default n
	help
	  This is the off-chip (2nd level) Interrupt Controller which can
	  be used to cascade external interrupts. It provides lot of
	  fancy features such as IRQ priority, Masking, Disabling....

config DW_INTC_IRQ
	hex "ARC CPU IRQ to which controller is attached"
	default "0xc"
	depends on DW_INTC

endif
