config ARC_IDE
	tristate "Enable ARC IDE"
	select HAVE_IDE
	select IDE
	select BLK_DEV_IDE
	select BLK_DEV_IDEDISK
	depends on ARC_BOARD_ANGEL4
	default y

config ARC_BLK_DEV_IDEDMA
	bool "ARC IDE DMA support"
	default y
	select BLK_DEV_IDEDMA
	depends on ARC_IDE

config ARC_PS2
	bool "ARC PS/2 support"
	default n
	depends on SERIO && ARC_BOARD_ANGEL4
	help
	  ARC FPGA Peripherals PS/2 support. Driver currently works only
	  on AA4 board.

config ARC_PS2_DEBUG
	bool "ARC PS/2 driver debugging"
	default n
	depends on ARC_PS2
	help
	  Turn on statistic collection and various debug messages to
	  simplify debugging.

config ARCTANGENT_EMAC
	tristate "ARCTangent EMAC support"
	select NET
	select INET
	select NETDEVICES
	select NET_ETHERNET
	default n
	depends on ARC_BOARD_ANGEL4

config EMAC_NAPI
	bool "Use NAPI ?"
	default n
	depends on ARCTANGENT_EMAC

config XILINX_TEMAC
	tristate "Use AA5 Xilinx TEMAC ?"
	default y
	select NET
	select INET
	select NETDEVICES
	select NET_ETHERNET
	depends on ARC_BOARD_ML509

config ISS_MAC
	tristate "Use xISS/ISS ENET simulation ?"
	default n
	select NET
	select IET
	select NETDEVICES
	select NET_ETHERNET
	depends on ARC_ISS_VIRT_PERIP

config ARCPGU
	tristate "Use ARC Pixel Graphics Unit"
	select FB
	select FB_CFB_FILLRECT
	select FB_CFB_COPYAREA
	select FB_CFB_IMAGEBLIT
	depends on ARCTANGENT_EMAC

config VFB_SIM
	bool "Use ISS/xISS framebuffer"
	select FB
	select FB_CFB_FILLRECT
	select FB_CFB_COPYAREA
	select FB_CFB_IMAGEBLIT
	select FB_SYS_FOPS
	depends on ARC_ISS_VIRT_PERIP

config VFB_SIM_BASE
	hex "Base address of Frame Buffer in Pysical memory"
	default "0x88000000"
	depends on VFB_SIM

config VFB_SIM_SIZE
	hex "Size of memory buffer"
	default "0x400000"
	depends on VFB_SIM

config VFB_SIM_XRES
	int "X-Resolution"
	default "640"
	depends on VFB_SIM

config VFB_SIM_YRES
	int "Y-Resolution"
	default "480"
	depends on VFB_SIM

config VFB_SIM_BPP
	int "Bits per pixel"
	default "16"
	depends on VFB_SIM

config FORCE_MAX_ZONEORDER
	int
	depends on ARCPGU || PGU_SIM
	default "13"

config ARCPGU_YUVBUFS
	int 'Number of YUV Buffers'
	default 18
	depends on ARCPGU || PGU_SIM

config ARCPGU_RGBBUFS
	int 'Number of RGB Buffers'
	default 2
	depends on ARCPGU || PGU_SIM

config ARCPGU_DISPTYPE
	int 'Display selector (0 - VGA, 1 - QVGA)'
	default 0
	depends on ARCPGU || PGU_SIM

config ARCPGU_XRES
	int 'Default YUV X resolution'
	default 640
	depends on ARCPGU || PGU_SIM

config ARCPGU_YRES
	int 'Default YUV Y resolution'
	default 480
	depends on ARCPGU || PGU_SIM

config ARCPGU_VCLK
	bool 'PLL-driven pixel clock'
	default 0
	depends on ARCPGU || PGU_SIM

config ARC_PGU_CONSOLE
	bool 'Console on the ARC PGU'
	depends on ARCPGU || PGU_SIM
	select FRAMEBUFFER_CONSOLE
	select FONTS
	select FONT_8x8
	select FONT_8x16
	select LOGO
	select LOGO_LINUX_MONO
	select LOGO_LINUX_VGA16
	select LOGO_LINUX_CLUT224
	select BACKLIGHT_LCD_SUPPORT

config ARCVSYNC
	bool
	depends on ARC_PGU_CONSOLE
	default y
